<h1>HollyWood Stars</h1>

<div class="navPicContainer">
  <div class="picStar1">
    <img src="images/hollywoodStar2.jpg" alt="hollywood pic2" />
  </div>
  <nav>
    <h2>MOVIES & CELEBRITIES</h2>
    <a href="/movies">Movies</a>
    <a href="/celebrities">Celebrities</a>
  </nav>
</div>
<div class="picStar">
  <img src="images/hollywoodStar1.jpg" alt="hollywood pic1" />
  <img src="images/HollywoodStar3.jpg" alt="hollywood pic3" />
  <img src="images/hollywoodStar.D.jpg" alt="hollywood pic4" />
  <img src="images/star.E.jpg" alt="hollywood pic5" />
  <img src="images/star.B.jpg" alt="hollywood pic5" />
</div>

<footer>
  © 2023 SONY FILM ENTERTAINMENT
  <br />
  TERMS AND CONDITIONS|PRIVACY POLICY | HOW WE USE YOUR DATA|DO NOT SELL MY
  PERSONAL INFORMATION|YOUR CALIFORNIA PRIVACY RIGHTS|SEND FEEDBACK
</footer>